.select-notas {
  width: 80%;
  max-width: 300px;
  height: 45px;
  border: none;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 24px;
  display: block;
}

.aviso-negativo {
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
}


/*RESPONSIVE*/
@media (max-width: 576px) {
  section {
    height: auto;
    min-height: calc(100vh - 70px - 70px);
    padding-bottom: 20px;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
    text-align: center;
  }
  .boton-resultado {
    width: 80%;
    max-width: 250px;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .modal-content {
    margin: auto;
    width: 90%;
  }

  .modal-content p {
    font-size: 18px;
  }
}
