/* HEADER */
.nav{
    background: #1f4aa1;
    height: 70px;
}

.nav-item{
    display: flex;
    align-items: center;
}

.nav-item a{
    color: #ffffff;
    margin-left: 20px;
}

.nav-item a:hover{
    color: #cccccc;
}

/* FOOTER */
footer{
    background: #1f4aa1;
    color: #ffffff;
    height: 70px;
}



/*RESPONSIVE*/

@media (max-width: 400px){
    .nav-item{
        display: flex;
        flex-direction: column;
    }

    .nav-item a{
        margin-left: 0;
        margin-top: 10px;
        font-size: 16px;
    }

    footer span{
        font-size: 12px;
    }
    
}