<!-- NAVBAR -->
<header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Nota Total</a>
    </li>
    <li class="nav-item">
        <a class="nav-link">Nota Individual</a>
    </li>
  </ul>
</header>

<app-inicio/>

<!-- FOOTER -->
<footer class="d-flex justify-content-center align-items-center">
  <span ><b>2024. Enmanuel Obando. Todos los derechos reservados</b></span>
</footer>

<router-outlet />
