/* HEADER */
nav {
  background: #1f4aa1 !important;
}

.nav-item a {
  color: #ffffff;
}

.nav-item a:hover {
  color: #cccccc;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
}

footer {
  background: #1f4aa1;
  color: #ffffff;
  position: absolute;
  width: 100%;
  height: 50px;
}

/*RESPONSIVE*/

@media (max-width: 400px) {
  .nav-item {
    display: flex;
    flex-direction: column;
  }

  .nav-item a {
    margin-left: 0;
    margin-top: 10px;
    font-size: 16px;
  }

  footer span {
    font-size: 12px;
  }
}
