<!-- NAVBAR -->
<header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/inicio" routerLinkActive="router-link-active">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/nota-total" routerLinkActive="router-link-active">Nota Total</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/nota-individual" routerLinkActive="router-link-active">Nota Individual</a>
    </li>
  </ul>
</header>

<router-outlet/>

<!-- FOOTER -->
<footer class="d-flex justify-content-center align-items-center">
  <span ><b>Sitio creado con Angular. Enmanuel Obando 2024.</b></span>
</footer>