/* SECCIÓN TOTAL E INDIVIDUAL */
.seccion {
    background: linear-gradient(90deg, rgba(7,40,106,1) 35%, rgba(108,114,230,1) 100%);
    min-height: calc(100vh - 70px - 70px);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Animaciones */
.seccion h1, .seccion h2, .seccion p, .seccion input, .seccion button, .seccion select, .modal {
    animation: aparecer-derecha 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

.seccion h1 {
    color: #ffffff;
    font-size: 90px;
    text-align: center;
}

.seccion .col-sm-4, .seccion .col-sm-6 {
    margin-top: 30px;
}

.seccion h2 {
    color: #ffffff;
    font-size: 35px;
}

/* Estilos de inputs */
.seccion input {
    width: 60%;
    height: 70px;
    border: none;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    font-size: 28px;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Botones */
.seccion .boton-resultado-total, .seccion .boton-resultado-individual {
    width: 240px;
    height: 55px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    background-color: #417EE8;
    color: #ffffff;
    margin-top: 40px;
    transition: 0.3s ease-in-out;
}

.seccion .boton-resultado-total:hover, 
.seccion .boton-resultado-individual:hover {
    background: #ffffff;
    color: #417EE8;
}

/* Modal */
.modal-content {
    border-radius: 10px;
    padding: 20px;
}

.modal-content p {
    font-size: 20px;
}

/* Animaciones */
@keyframes aparecer-derecha {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* RESPONSIVE DESIGN */
@media (max-width: 1200px) {
    .seccion h1 {
        font-size: 80px;
    }
    .seccion h2 {
        font-size: 32px;
    }
    .seccion input {
        font-size: 26px;
    }
}

@media (max-width: 992px) {
    .seccion h1 {
        font-size: 70px;
    }
    .seccion h2 {
        font-size: 28px;
    }
    .seccion input {
        font-size: 24px;
    }
}

@media (max-width: 914px) {
    .seccion h1 {
        font-size: 60px;
    }
    .seccion h2 {
        font-size: 26px;
    }
    .seccion input {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .seccion h1 {
        font-size: 50px;
    }
    .seccion h2 {
        font-size: 22px;
    }
    .seccion input {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .seccion h1 {
        font-size: 40px;
    }
    .seccion h2 {
        font-size: 18px;
    }
    .seccion input {
        font-size: 18px;
    }
}
