<!-- SECCIÓN NOTA TOTAL -->
<section
  class="seccion d-flex flex-column justify-content-center align-items-center"
>
  <div class="container-fluid">
    <div class="row">
      <h1 class="text-center">NOTA TOTAL</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 mt-1 text-center">
        <h2>Examen Parcial (30%)</h2>
        <input
          #nota1
          type="text"
          class="text-center"
          placeholder="Ingresa tu nota"
          autocomplete="off"
          required
        />
      </div>
      <div class="col-sm-4 mt-1 text-center">
        <h2>Evaluación Continua (40%)</h2>
        <input
          #nota2
          type="text"
          class="text-center"
          placeholder="Ingresa tu nota"
          autocomplete="off"
          required
        />
      </div>
      <div class="col-sm-4 mt-1 text-center">
        <h2>Examen Final (30%)</h2>
        <input
          #nota3
          type="text"
          class="text-center"
          placeholder="Ingresa tu nota"
          autocomplete="off"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <!-- BOTÓN RESULTADO -->
        <button
          type="button"
          (click)="botonResultadoTotal()"
          class="boton-resultado btn btn-light"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          CALCULAR PROMEDIO
        </button>

        <!-- MODAL -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" #mensajeModal></h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <p class="text-black" #resultadoParrafo></p>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
