/* RESPONSIVE DESIGN */

@media (max-width: 576px) {
  section {
    height: auto;
    min-height: calc(100dvh - 70px - 70px);
    padding-bottom: 20px;
  }
  
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }

  input {
    font-size: 14px;
  }
  
  .boton-resultado {
    width: 80%;
    max-width: 250px;
    height: 50px;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
