/* Animaciones */
@keyframes aparecer-derecha {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 1200px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 32px;
  }
  input {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 70px;
  }
  h2 {
    font-size: 28px;
  }
  input {
    font-size: 24px;
  }
}

@media (max-width: 914px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 26px;
  }
  input {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .seccion h1 {
    font-size: 50px;
  }
  .seccion h2 {
    font-size: 22px;
  }
  .seccion input {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 18px;
  }
  input {
    font-size: 18px;
  }
}
