/* RESPONSIVE DESIGN */
@media (max-width: 1200px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 32px;
  }
  input {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 28px;
  }
  input {
    font-size: 24px;
  }
}

@media (max-width: 914px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  input {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 22px;
  }
  input {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  h2 {
    font-size: 14px;
  }
  input {
    font-size: 14px;
  }
}
