<!-- SECCIÓN INICIO -->
<section class="seccion-inicio d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-7">
                <h1>Bienvenido al Ponderainador</h1>
                <p>Tu calculadora universitaria de confianza. <br>Descubre si aprobaste o jalaste el curso.</p>
            </div>
            <div class="col-md-5">
                <img src="/assets/calculator-3d.png" alt="Calculator-3d">
            </div>
        </div>
    </div>
</section>